*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
    font-size: 5em;
    color: grey;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: rgba(165, 42, 42, 0.603);
}